CompileFlags:
  Add: 
    - -std=c++20
    - -Wall
    - -Wextra
    - -Wno-deprecated
    - -Wno-unused-parameter
Diagnostics:
  ClangTidy:
    Checks: [
      "google-*",
      "-google-readability-todo",
      "-google-runtime-references",
      "modernize-use-trailing-return-type"
    ]
    CheckOptions:
      - key:   google-readability-braces-around-statements.ShortIfLines
        value: '1'
      - key:   google-readability-namespace-comments.SpacesBeforeComments
        value: '2'
Format:
  Style: file
