BasedOnStyle: Google
ColumnLimit: 80
Standard: Latest

AllowShortIfStatementsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left

IndentWidth: 4
TabWidth: 4
UseTab: Never

AccessModifierOffset: -4 
IndentAccessModifiers: false
